@media screen and (min-width: 768px) {
    /*Header Scetion Start*/
    .header {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .header__top {
        margin-bottom: 20px;
    }
    .header__logo-wrapper {
        width: 155px;
        height: 50px;
    }
    .bars{
        display: none;
    }
    .cross{
        display: none;
    }
    .header__link {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .header__nav-mobile {
        display: none;
    }
    /*Header Scetion End*/
    /*Resources Page Hero Scetion Start*/
    .hero {
        padding-top: 90px;
        padding-bottom: 75px;
    }
    .hero__heading {
        font-size: 48px;
    }
    .hero__text {
        font-size: 24px;
        line-height: 28px;
    }
    /*Resources Page Hero Scetion End*/

    /*Resources Page Videos Scetion Start*/
    .videos {
        padding-top: 130px;
        padding-bottom: 65px;
    }
    .videos__card {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-bottom: 95px;
    }
    .videos__card-video-wrapper {
        max-width: 585px;
        max-height: 325px;
        flex: 0 0 45%;
    }
    .videos__card-video{
        width: 100%;
        height: 100%
    }
    /*Resources Page Videos Scetion End*/
    /*Footer Scetion Start*/
    .footer {
        padding-top: 75px;
        padding-bottom: 30px
    }
    .footer__logo-wrapper {
        width: 70px;
        margin-bottom: 45px;
    }
    .footer__text {
        color: #05041f;
    }
    .footer__text {
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 45px;
    }
    .footer__input {
        font-size: 15px;
        line-height: 16px;
        padding: 25px 25px 20px;
    }
    .footer__btn {
        background-color: #243756;
        font-size: 15px;
        line-height: 16px;
        color: #ffffff;
        font-weight: 600;
        border: 1px solid #1A80FF;
        padding: 25px 15px 20px;
        text-transform: uppercase;
    }
    .footer__bottom {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin: auto;
        max-width: 620px;
        text-align: left;
    }
    .footer__bottom-image-wrapper {
        width: 200px;
        height: 65px;
    }
    .footer__social-icon {
        font-size: 28px;
    }
    .footer__link {
        margin-bottom: 0;
    }
    /*Footer Scetion End*/
}
@media screen and (min-width: 992px) {
    
    /*Resources Page Videos Scetion Start*/
    .videos__card {
        gap: 80px;
    }
}