/* Fonts Family */
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url("/css/fonts/Rubik-Regular.woff2") format("woff2"),
         url("/css/fonts/Rubik-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url("/css/fonts/Rubik-Italic.woff2") format("woff2"),
         url("/css/fonts/Rubik-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url("/css/fonts/Rubik-Light.woff2") format("woff2"),
         url("/css/fonts/Rubik-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url("/css/fonts/Rubik-Medium.woff2") format("woff2"),
         url("/css/fonts/Rubik-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url("/css/fonts/Rubik-SemiBold.woff2") format("woff2"),
         url("/css/fonts/Rubik-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url("/css/fonts/Rubik-Bold.woff2") format("woff2"),
         url("/css/fonts/Rubik-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

/* Main CSS */
body{
    margin: 0; 
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    position: relative;
}
/* Container */
.container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Hidden Class */
.visually-hidden {
    border-width: 0px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
}

/*header*/
.header {
    padding-top: 50px;
    padding-bottom: 40px;
}
.bars{

}
.header__logo-wrapper {
    width: 155px;
    height: 50px;
}
.header__logo-wrapper:hover {
    cursor: pointer;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header__logo{
    width: 100%;
    object-fit: cover;
}
.header__link {
    display: flex;
    align-items: center;
    gap: 32px;
}
.header__link-item{
    color: #272643;
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.075em;
    text-decoration: none;
    text-transform: uppercase;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header__nav-item {
    text-decoration: none;
    padding: 10px;
}
.header__text {
    color: #272643;
    font-weight: regular;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}
.header__nav-item-image-wrapper {
    width: 45px;
    margin-bottom: 20px;
    margin: auto;
}
.header__nav-item-image {
    width: 100%;
}

/*Resources Page Hero Scetion*/
.hero {
    padding-top: 50px;
    padding-bottom: 45px;
    background-color: #1F2745;
}
.hero__heading {
    font-size: 32px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
.hero__text {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}
/*Resources Page Videos Scetion*/
.videos {
    padding-top: 130px;
    padding-bottom: 160px;
}
.videos__card-heading {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #272643;
    font-weight: 700;
}
.videos__card-text {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #272643;
    font-weight: 400;
}
.videos__card-video{
    width: 100%;
    height: 100%
}
/*footer*/
.footer {
    background-color: #F9F9F9;
    padding-top: 75px;
    padding-bottom: 30px
}
.footer__logo-wrapper {
    margin: 0 auto;
    width: 55px;
    margin-bottom: 32px;
}

.footer__logo{
    width: 100%;
    object-fit: cover;
}
.footer__text {
    color: #05041f;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 32px;
}
.footer__form {
    max-width: 590px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}
.footer__input {
    width: 100%;
    background-color: #ffffff;
    border: none;
    font-size: 12px;
    line-height: 13px;
    color: #05041f;
    font-weight: 400;
    padding: 16px 16px 14px;
    
}
.footer__btn {
    background-color: #243756;
    font-size: 12px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 600;
    border: 1px solid #1A80FF;
    padding: 16px 12px 14px;
    text-transform: uppercase;
}

.footer__bottom {
    text-align: center;
}
.footer__bottom-image-wrapper {
    width: 200px;
    height: 65px;
    margin: auto;
}
.footer__bottom-image {
    width: 100%;
    object-fit: cover;
}
.footer__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-top: 25px;
}
.footer__social-icon {
    color: #3C3E3E;
    font-size: 20px;
    padding: 4px;
    
}
.footer__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.footer__link-item {
    font-size: 14px;
    line-height: 30px;
    color: #35393c;
    font-weight: 300;
    text-decoration: none;
}
